<aside class="" id="sidebar-button">
    <div class="row flex-column">
        <div
            class="my-3 mx-auto col-5"
            style="background: #cfd4ed; min-width: 34px; min-height: 34px"
        ></div>
        <div class="col">
            <img src="../assets/dashboard-logo.png" alt="" class="img-fluid" />
        </div>
        <div class="col">
            <!-- Go to {base-url}/dashboard-->
            <a href="/dashboard">
                <img src="../assets/cars-logo.png" alt="" class="img-fluid" />
            </a>
        </div>
    </div>
</aside>
